/***************************Element Selectors*******************************/
body{
    
    background-image: url('../images/plain-background-image.jpg');
    background-size: cover;
    
    color: #052d3d;
    text-align: center;
    
    
}


table{
    margin: auto;
    
}

h1{
    color: #052d3d;
    display: inline-block;
    
}
a{
    color: #052d3d;
    text-decoration: none;
}
td{
    padding:10px 20px 10px 20px;
}
footer{
    padding: 30px;
    text-align: center;
    font-size: 50px;
    text-decoration:underline;
}

button{
    width:100px;
    border-radius: 12px;
    
}

button:hover{
    
    background-color:#349ed8;
}

/*************************Class Selectors**********************************/
.images{
    display:block;
}
.container{
    text-align: left;
}
.parent-back{
    text-align: left;
}
.imgq{
    padding-right:50px;
}
.logo{
    padding-top:20px;
    width:30%;
    height:170px;
    display: inline-block; 
    
}
.april-showers{
    padding-top:20px;
    height:170px;
    width:20%;
    display:inline-block;
}
.cig{
    padding-top:20px;
    height:170px;
    width:30%;
    display:inline-block;
}
.parent{
    text-align: center;
    
}
/*.table{
    background-color: #FDF7C3; 
    color:#349ed8; 
} */

.question2-logo{
    position:relative;
    right: 650px;
    height: 100px;
}
.poem-pic{
    height: 500px;
    float:left;
    padding-right: 50px;
    padding-bottom: 50px;

}

.poem{
   
    text-align: left;
    margin:auto;
    padding-right: 250px;
}
.ramadan-img{
    width:800px;
    float:left;
}
.q2h1{
    display:inline-block;
}
.standard-logo{
    display: inline-block;
    height:100px;
    
    
}
.left{
    
    color: #052d3d;
    text-align: center;
}
.q3img{
    width:50%;
    float: left;
    padding-right: 50px;
}
.q3-content{
    line-height: 1.4;
}
.source1{
    display: inline-block;
}
.source2{
    display:inline-block;
}
.source3{
    display:inline-block;
}
.taiwan{
    text-align: left;
}
.taiwan-img{
    float:left;
    height: 400px;
    width:600px;  

}
.ramadan-origin-img{
    float:left;
    height: 400px;
    width:600px;
    padding-right: 50px;  
}
.ramadan-img{
    padding-right:50px;
}
.pbj{
    width:35%;
    
}
.Mousse{
    width:35%;
}
.caramel{
    width:35%;
}
.twinkie{
    width:35%;
    position:relative;
    bottom:37px;
    height:400px;
    
}
.arbor{
    width:500px;
    height:300px;
    
}
.velociraptor{
    width:500px;
    height:300px;
}
.earth{
    width:500px;
    height:300px;
}
.penguin{
    width:500px;
    height:300px;
}

.q10-footer{
    position: relative;
    bottom: 400px;
    left:400px;
}
.center-footer{
    text-align: center;
}
.float-left-pad50{
    float:left;
    padding-right:50px;
}
.reduce-size{
    height:30%;
    width: 50%;
}
.kings-day{
    float: left;
    padding: 50px;
    width:20%;
    padding-top:0px;
}
.netherlands{
    float:right;
    padding-left:50px;
}

.taiwan-img{
    padding-right: 50px;
}
.pad-bottom{
    padding-bottom: 50px;
}
